button {
    border: 0;
    box-shadow: none;
}

.go-back {
    position: absolute;
    width: 3.5em;
    height: 3.5em;
    top: 2em;
    left: 4em;
    line-height: 4em;
    background-color: transparent;
    background-size: 100% 100%;
    &:hover {
        cursor: pointer;
    }
}

.go-back.home{
    background-image: url("assets/home.svg");
}