.env merge=ours
.envexample merge=ours
.gitignore merge=ours
.gitattributes merge=ours
./config/app.php merge=ours
./config/ide-helper.php merge=ours
angular/ merge=ours
angularcli/src/index.html merge=ours
tmp/ merge=ours
