@import "../../app.component";

$profile-width: 32rem;
$profile-height: 16rem;
.profile-box {
    width: $profile-width;
    height: $profile-height;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: $profile-height / -2 0 0 $profile-width / -2;
    background-color: #fff;
    .portrait-box {
        position: relative;
        float: left;
        width: $profile-height;
        height: $profile-height;
        img {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            &:hover {
                cursor: pointer;
            }
        }
        input[type="file"] {
            display: none;
        }

    }
    .detail-box {

        position: relative;
        float: left;
        width: $profile-height;
        height: $profile-height;

        .form-label {
            width: 95%;
            height: 2.2rem;
            margin: 0 0 0 5%;
            line-height: 2.2rem;
        }
        .form-panel {
            width: 100%;
            height: 3rem;
            margin: 1rem 0 0 0;
            &:after {
                content: '';
                display: block;
                clear: both;
            }
            button, span {
                display: inline-block;
                width: $profile-height * 0.35;
                height: $profile-height * 0.15;
                margin: 0 $profile-height * 0.1;
                font-size: 1.2rem;
                float: left;
                line-height: $profile-height * 0.15;
                text-align: center;
                color: #fff;
                &:hover {
                    cursor: pointer;
                }
            }
            .logout-button {
                background-color: #ff4538;
            }
            button[type="submit"].submit-button {
                background-color: #2a88bd;
                margin-left: 0;
            }
        }
    }
    .friends-search{
        position: absolute;
        width: $profile-height * 0.8;
        height: $profile-height * 0.15;
        bottom: $profile-height * 0.1;
        right: $profile-height * 0.1;
    }

}