@charset "utf-8";
html,
body,
div,
p,
hr,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td,
th,
tfoot,
tbody,
thead,
form,
fieldset,
input,
textarea,
label,
ul,
ol,
dl,
li,
dt,
dd {
  border: 0;
  outline: 0;
  list-style: none;
}
header,
nav,
article,
section,
aside,
footer {
  display: block;
}
img,
input,
textarea,
button {
  border: 0;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/****3d 通用样式开始****/
.perspective {
  -webkit-perspective: 700px;
  perspective: 700px;
}
.pers_origin {
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
.trsf_origin {
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.trsf_style_3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.trsf_style_flat {
  -webkit-transform-style: flat;
  transform-style: flat;
}
.back_face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/****3d 通用样式结束****/
/****图标通用样式开始****/
.btn-focus:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 10px;
  height: 2px;
  margin: -1px 0 0 -15px;
  border: 10px solid #c63e72;
  border-top-width: 0;
  border-bottom-width: 0;
}
.btn-focus:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 2px;
  height: 10px;
  margin: -15px 0 0 -1px;
  border: 10px solid #c63e72;
  border-left-width: 0;
  border-right-width: 0;
}
.btn-hide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 2px;
  height: 30px;
  margin: -15px 0 0 -1px;
  background-color: #c63e72;
  transform: rotate(45deg);
}
.btn-hide:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 2px;
  height: 30px;
  margin: -15px 0 0 -1px;
  background-color: #c63e72;
  transform: rotate(-45deg);
}
/****图标通用样式开始****/
/****其它通用样式开始****/
.hide {
  display: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.cursor-grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.circle {
  border-radius: 50%;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
}
.brim {
  display: block;
  width: 100%;
  height: 100%;
}
/****其它通用样式结束****/
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
form {
  display: none;
}
#stage {
  -webkit-perspective: 700px;
  perspective: 700px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  position: absolute;
  width: 100vw;
  height: 100vw;
  top: 50%;
  margin: -50vw 0 0 0;
}
#stage:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
#stage #galaxy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
#stage #galaxy .star {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.2em;
  margin: -0.6em 0 0 -2.1em;
  overflow: hidden;
  line-height: 1em;
  max-width: 4em;
  height: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#stage #galaxy .star:hover {
  cursor: pointer;
}
.operation {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: 0 0 0 0;
}
.operation form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 35px;
  margin: -17.5px 0 0 -100px;
  font-size: 15.90909091px;
  line-height: 35px;
}
.operation form textarea {
  float: left;
  width: 165px;
  height: 35px;
  font-size: inherit;
  line-height: inherit;
  text-indent: 10px;
}
.operation form .submit {
  float: left;
  width: 35px;
  height: 35px;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
}
.operation form .submit:hover {
  cursor: pointer;
}
.operation .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.operation .btn:before {
  content: '';
  display: block;
  height: 6px;
}
.operation .btn:hover {
  cursor: pointer;
}
#top_left {
  position: absolute;
  border-radius: 50%;
  top: 15px;
  left: 15px;
  width: 60px;
  height: 60px;
  font-size: 14px;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
#top_left:hover {
  cursor: pointer;
}
#top_left a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: inherit;
  color: inherit;
}
#top_right {
  position: absolute;
  border-radius: 50%;
  top: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  font-size: 14px;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
#top_right:hover {
  cursor: pointer;
}
#top_right img {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
#pop_item {
  position: absolute;
  display: none;
  z-index: 2;
  top: 90px;
  left: 15px;
  width: 64vh;
  height: 80vh;
}
#pop_item #editor {
  width: 100%;
  height: 100%;
}
#pop_item #editor::-webkit-scrollbar {
  width: 10px;
}
#pop_item .knob {
  position: absolute;
  border-radius: 50%;
  right: -20px;
  width: 15px;
  height: 15px;
}
#pop_item .knob:hover {
  cursor: pointer;
}
#pop_item .knob.close {
  top: 10px;
}
#pop_item .knob.save {
  top: 40px;
}
