<div class="control-panel">
    <div id="plus" class="btn"
         [ngStyle]="setBtnPosition('plus')"
         (click)="clickAddBtn()">
        <img src="assets/plus.svg" alt="">
    </div>
    <div id="view" class="btn"
         [ngStyle]="setBtnPosition('view')"
         (click)="clickViewBtn()">
        <img src="assets/eyes.svg" alt="">
    </div>
    <div id="delete" class="btn"
         [ngStyle]="setBtnPosition('delete')"
         (click)="clickDeleteBtn()">
        <img src="assets/delete.svg" alt="">
    </div>
</div>
<div id="add_ctg" class="text-input"
     *ngIf="showAddCtgInput">
    <input type="text" placeholder=""
           #title
           (keyup.enter)="addNewCtg(title.value)">
</div>
<div id="ctg_content" class="text-box"
     *ngIf="showContentBox">
    <mdeditor></mdeditor>
</div>