@white: #fff;
@black: #000;
@stage_back: #002240;
@btn: rgba(255, 255, 255, 0.5);

.theme-stage-back{background-color: @stage_back;}

.theme-galaxy-font{color: @white;}

.theme-star-border{}
.theme-star-border-hover{border: 2px solid @white;}
.theme-star-ctg-back{background-color: fade(@white, 20%);}
.theme-star-item-back{background-color: fade(@white, 40%);}

.theme-btn-back{background-color: @btn;}
.theme-btn-back-hover{background-color: fadein(@btn, 40%);}

.theme-top_left-back{background-color: lighten(@black, 50%);}
.theme-top_left-back-hover{}

.theme-top_right-back{background-color: lighten(@black, 50%);}
.theme-top_right-back-hover{}

.theme-item_detail-back{background-color: @white;}
.theme-item_detail-back-hover{}