<div class="go-back home"
     [routerLink]="'/home'"
>
</div>

<div class="profile-box">
    <form action="" (ngSubmit)="profileSubmit(profileForm)" #profileForm="ngForm">
        <div class="portrait-box">
            <img src="{{user.portrait}}" alt="" id="portrait"
                 (click)="chooseFile()"
            >
            <input type="file" id="file-input"
                   name="portrait"
                   #fileInput
                   (change)="readFile(fileInput)"
            >
        </div>
        <div class="form-label">
            <span>{{user.email}}</span>
        </div>
        <div class="form-label">
            <input type="text" name="name" value="{{user.name}}" placeholder=""
                   [(ngModel)]="user.name"
            >
        </div>
        <div class="form-label">
            <select name="language" id="language"
                    [(ngModel)]="user.language"
            >
                <option *ngFor="let language of languages"
                        [(ngValue)]="language.key"
                        [selected]="language.key == user.language">
                    {{language.fullName}}
                </option>
            </select>
        </div>
        <div class="form-panel">
            <button class="logout-button" (click)="logOut()">
                {{'user.logout' | translate}}
            </button>
            <button type="submit" class="submit-button">
                {{'action.save' | translate}}
            </button>
        </div>

    </form>
</div>