<space-home></space-home>
<div class="user-login" id="userLogin">
    <form *ngIf="!user.access_token" (ngSubmit)="onSubmit()" #loginForm="ngForm">

        <div class="form-label">
            <input type="text" id="email" name="email"
                   placeholder="{{'user.email_placeholder' | translate}}"
                   required
                   [(ngModel)]="user.email"
                   (keyup.enter)="checkEmail()"
                   (blur)="checkEmail()"
                   #email="ngModel"
            >
        </div>
        <div class="form-label">
            <input type="password" id="password" name="password"
                   placeholder="{{'user.password_placeholder' | translate}}"
                   required
                   [(ngModel)]="user.password"
                   #password="ngModel"
            >
        </div>

        <div class="form-panel">
            <button type="button" [routerLink]="'/register'">{{'user.register' | translate}}</button>
            <button type="submit" [disabled]="!loginForm.form.valid">{{'user.login' | translate}}</button>
        </div>

        <div class="message-box">
            <p *ngIf="!(email.valid || email.pristine)" error>
                {{'user.email_required' | translate}}
            </p>
            <p *ngIf="!(password.valid || password.pristine)" error>
                {{'user.password_required' | translate}}
            </p>
            <p *ngIf="invalidEmail" error>
                {{'user.email_validation' | translate}}
            </p>
            <p *ngIf="authError" error>
                {{'user.login_failed' | translate}}
            </p>
        </div>

    </form>


    <div *ngIf="user.access_token" class="user-info">
        <div class="user-info-content">
            <img src="{{user.thumb}}?t={{timeString}}" alt="" class="portrait"
                 [routerLink]="'/profile/1'"
            >
            <div class="user-profile">
                <p>{{user.name}}</p>
                <ul>
                    <li *ngFor="let language of languages"
                        (click)="switchLang(language)"
                    >
                        {{language.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <space-search></space-search>
</div>