<div class="user-login">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

        <div class="form-label">
            <label for="email"></label>
            <input type="text" id="email" name="email"
                   placeholder="{{'user.email_placeholder' | translate}}"
                   required
                   [(ngModel)]="user.email"
                   (keyup.enter)="checkEmail()"
                   (blur)="checkEmail()"
                   #email="ngModel"
            >
        </div>
        <div class="form-label">
            <label for="password"></label>
            <input type="password" id="password" name="password"
                   placeholder="{{'user.password_placeholder' | translate}}"
                   required
                   [(ngModel)]="user.password"
                    #password="ngModel"
            >
        </div>

        <button type="submit" [disabled]="!loginForm.form.valid">{{'user.login' | translate}}</button>

        <div class="message-box">
            <p *ngIf="!(email.valid || email.pristine)" error>
                {{'user.email_required' | translate}}
            </p>
            <p *ngIf="!(password.valid || password.pristine)" error>
                {{'user.password_required' | translate}}
            </p>
            <p *ngIf="invalidEmail" error>
                {{'user.email_validation' | translate}}
            </p>
        </div>

    </form>
</div>