@import "ctg-control.component";
$title-height: 7%;
$button-height: 8%;
$editable-height: 100% - $title-height - $button-height;
$button-width: 33.3%;
$input-height: 5%;

.editor-box {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    .ctg-title {
        width: 100%;
        height: $title-height;
        font-size: 1.1rem;
        text-align: center;
    }
    .ctg-content-data-list {
        position: absolute;
        width: $button-width;
        height: auto;
        max-height: $editable-height - $input-height;
        bottom: $button-height + $input-height;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #ffffff;
        .tier {
            width: 100%;
            height: 1.5rem;
            text-indent: 0.2rem;
            line-height: 1.5rem;
            white-space: nowrap;

            @include text-ellipsis;

            &:hover {
                cursor: pointer;
            }
        }
    }
    .ctg-content-input {
        position: absolute;
        width: $button-width;
        height: $input-height;
        bottom: $button-height;
        input {
            width: 100%;
            height: 100%;
        }
    }
    .search-space-position {
        left: 50%;
        margin: 0 0 0 $button-width / -2;
    }
    .button-label {
        width: 100%;
        height: $button-height;
        position: relative;
        &:after {
            display: table;
            content: '';
            clear: both;
        }

        div {
            width: $button-width;
            height: 100%;
            float: left;
            text-align: center;

            &:hover {
                cursor: pointer;
                background-color: #aecaff;
                color: #ffffff;
            }

            @include align_middle_parent;

            span {
                @include align_middle_child;
            }
        }
        .save-button {
            width: 100%;
        }
    }
}
