.editor-box {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    .ctg-title {
        width: 100%;
        height: 7%;
        //line-height: 40px;
        //font-size: 26px;
        text-align: center;
    }
    .button-label {
        width: 100%;
        height: 8%;
        position: relative;
        &:after {
            display: table;
            content: '';
            clear: both;
        }

        div {
            width: 33.3%;
            height: 100%;
            float: left;
            text-align: center;
            white-space: nowrap;

            &:hover{
                cursor: pointer;
            }

            &:before {
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }

            span{
                display: inline-block;
                vertical-align: middle;
                width: 100%;
            }
        }
    }
}
