@import "ctg-list.component";
$space-height: 2.6rem;
$space-width: 6rem;

.space-box {
    position: absolute;
    top: $message-height * 2;
    right: 0;
    width: auto;
    height: $space-height;
    background-color: #ffffff;

    &:hover {
        cursor: pointer;
    }

    .space {
        float: left;
        width: $space-width;
        height: 100%;
        padding: 0 $space-width / 12;
        font-size: $space-height / 2;
        line-height: $space-height;

        @include text-ellipsis;

        &:hover {
            min-width: $space-width;
            width: auto;
        }
    }
}