@import "../../app.component";
$btn-width: 2.5rem;
$radius: $btn-width * 2.5;

.control-panel {
    position: relative;
    width: 0;
    height: 0;
    overflow: visible;

    .btn {
        position: absolute;
        width: $btn-width;
        height: $btn-width;
        margin: $btn-width / -2 0 0 $btn-width / -2;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .4);
        &:hover {
            cursor: pointer;
        }
    }
    #plus {
        top: $radius * -1;
        left: 0;
        img {
            margin: 10% 0 0 10%;
            width: 80%;
            height: 80%;
        }
    }
    #view {
        top: $radius * sin(45deg) * -1;
        left: $radius * cos(45deg);
        img {
            width: 100%;
            height: 100%;
        }
    }
    #delete {
        top: 0;
        left: $radius * cos(0deg);
        img {
            margin: 10% 0 0 10%;
            width: 80%;
            height: 80%;
        }
    }
}
.text-input {
    position: absolute;
    width: $btn-width * 5;
    height: $btn-width * 0.8;
    line-height: $btn-width * 0.8;
    margin: $btn-width * 0.8 / -2 0 0 $btn-width;
}
.text-box {
    $box-width: 30%;
    $box-height: 70%;
    position: fixed;
    width: $box-width;
    height: $box-height;
    top: 15%;
    left: 12%;
}
.confirm-box{
    position: fixed;
    width: 30rem;
    height: 10rem;
    top: 50%;
    left: 50%;
    margin: -5rem 0 0 -15rem;
    background-color: rgba(255,255,255,0.6);

    p{
        width: 80%;
        margin: 2rem auto 0;
        text-align: center;
    }

    button{
        position: absolute;
        width: 5rem;
        height: 2rem;
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.5rem;
        &:hover{cursor: pointer;}
        left: 50%;
        bottom:1rem;
    }
    button:first-child{
        margin: 0 0 0 -8rem;
    }
    button:last-child{
        margin: 0 0 0 3rem;
    }
}