.editor-box {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    .ctg-title {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 26px;
        text-align: center;
    }
}
#save_content {
    position: absolute;
    right: 1em;
    bottom: 2%;
    width: 3em;
    height: 2em;
    line-height: 2em;
    font-size: 1em;
    text-align: center;
    word-spacing: 0.3em;
    background-color: deepskyblue;
    &:hover {
        cursor: pointer;
        background-color: skyblue;
    }
}