.user-login {
    $form-width: 17rem;
    $form-height: 14rem;
    $input-width: $form-width - 4rem;
    $input-height: 2.4rem;

    position: absolute;
    top: 50%;
    left: 50%;
    width: $form-width;
    min-height: $form-height;
    margin: $form-height/-2 0 0 $form-width/-2;
    text-align: center;
    font-size: $input-height/2.2;

    input {
        width: $input-width;
        height: $input-height;
        line-height: $input-height;
        margin-bottom: .5rem;
        font-size: 1em;
    }
    .form-label:first-child input {
        margin-top: 1.5rem;
    }

    button[type='submit'] {
        width: $input-width;
        height: $input-height;
        line-height: $input-height;
        font-size: 1.2em;
        color: #fff;
        border: 0;
        box-shadow: none;
        background-color: #5bc0de;
    }

    .message-box {
        width: $input-width;
        min-height: $input-height;
        margin: 1rem auto 0;
        font-size: 0.9em;
    }

    .user-info {
        width: 100%;
        height: 100%;

        img.portrait {
            display: block;
            width: 8rem;
            height: 8rem;
            margin: 2rem auto 0;
        }

        .user-name {
            width: 100%;
            height: 2rem;
            text-align: center;
            line-height: 2rem;
            font-size: 1.2rem;
        }
    }

}