.user-login {
    $form-width: 17rem;
    $form-height: 14rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $form-width;
    height: $form-height;
    margin: $form-height/-2 0 0 $form-width/-2;
    background-color: #fff;
    text-align: center;

    $input-width: $form-width - 4rem;
    $input-height: 2.4rem;
    input {
        width: $input-width;
        height: $input-height;
        line-height: $input-height;
        font-size: $input-height/2.2;
        margin-bottom: .5rem;
    }
    .form-label:first-child input{
        margin-top: 1.5rem;
    }

    button[type='submit'] {
        width: $input-width;
        height: $input-height;
        line-height: $input-height;
        font-size: $input-height/2;
        color: #fff;
        border: 0;
        box-shadow: none;
        background-color: #5bc0de;
    }
}