$form-width: 22rem;
$form-height: 17rem;
$input-width: $form-width - 4rem;
$input-height: 2.4rem;
.user-login {

    position: absolute;
    top: 50%;
    left: 50%;
    width: $form-width;
    min-height: $form-height;
    margin: $form-height/-2 0 0 $form-width/-2;
    text-align: center;
    font-size: $input-height/2.2;

    input {
        width: $input-width;
        height: $input-height;
        line-height: $input-height;
        margin-bottom: .5rem;
        font-size: 1em;
    }
    .form-label:first-child input {
        margin-top: 1.5rem;
    }

    button[type='submit'] {
        width: $input-width;
        height: $input-height;
        line-height: $input-height;
        font-size: 1.2em;
        color: #fff;
        border: 0;
        box-shadow: none;
        background-color: #5bc0de;
    }

    .message-box {
        width: $input-width;
        min-height: $input-height * 0.8;
        margin: 0.6rem auto 0;
        font-size: 0.8em;
    }

    .user-info {
        width: 100%;
        height: 100%;

        .user-info-content {
            width: $form-width * 0.8;
            height: 100%;
            margin: 2rem auto 0;

            &:after {
                content: '';
                display: block;
                clear: both;
            }

            img.portrait {
                display: block;
                float: left;
                width: 6.8rem;
                height: 6.8rem;
                &:hover {
                    cursor: pointer;
                }
            }

            .user-profile {
                float: left;
                width: $form-width * 0.8 - 6.8 - 1;
                height: 6.8rem;
                margin: 0 0 0 0.8em;
                line-height: 1.5rem;
                font-size: 1.2rem;
                text-align: left;

                ul {
                    list-style: none;
                    height: 100%;
                    li {
                        display: inline-block;
                        padding: 0 0.3em;
                        margin: 0 0.1em 0 0;
                        text-align: center;
                        background-color: #a4bbbd;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

    }

}