@import "general";

body{background-color: @universe; overflow: hidden;}
form{display: none;}

//舞台，等于窗口大小的元素
#stage{
	.perspective; .pers_origin; .trsf_origin; .abs;
	width: 100vw; height: 100vw; top: 50%; margin: -50vw 0 0 0;
    &:hover{.cursor-grab;}

    //银河开始
	#galaxy{
		.trsf_style_3d; .abs;
		width: 100px; height: 100px; top: 50%; left: 50%;
        margin: -50px 0 0 -50px; color: #fff;

        //分类
		.star{
            .back_face; .over-hidden; .abs;
			top: 50%; left: 50%; padding: 0.2em; margin: -0.6em 0 0 -2.1em;
            line-height: 1em; max-width: 4em; height: 1em; text-overflow:ellipsis; white-space:nowrap;
            border-radius: 3px;
            &:hover{border: 2px solid #fff;}
		}

        .star.ctg{
            background-color: fade(@white, 20%);
        }

        .star.item{
            background-color: fade(@white, 40%);
        }

	}
    //银河结束

}

@ow:        150px;
@ow2:       @ow * -1 / 2;
@btnw:      30px;
@btnw2:     @btnw * -1 / 2;
@btn:       rgb(62, 186, 248);
@btn-hover: fade(@btn, 70%);
@disable:  @black;

//添加删除等操作
#operation{
    .abs; .hide;
    top: 50%; left: 50%; width: @ow; height: @ow; margin: @ow2  0 0 @ow2;
    background-color: fade(@white, 10%); border-radius: 50%;

    form{
        @fw: @ow*2/3;
        @fw2: @fw * -1 / 2;
        @fh: @ow/2;
        @fh2: @fh * -1 / 2;
        .abs;
        top: 50%; left: 50%; width: @fw; height: @fh; margin: @fh2 0 0 @fw2;
        textarea{
            .abs;
            top: 0; left: 0; width: @fw; height: @fh*2/3;
        }
        input[type='submit']{
            .abs;
            bottom: 0; left: 0; width: @fw; height: @fh/3;
            &:hover{background-color: #00b3ee; cursor: pointer;}
        }
    }

    .btn{
        .abs;
        width: @btnw; height: @btnw; margin: @btnw2 0 0 @btnw2;
        border-radius: 50%; background-color: @btn;
        &:hover{background-color: @btn-hover; cursor: pointer;}
    }

    .btn.one{top: 0; left: 50%;}
    .btn.two{top: 14.644661%; left: 85.355339%;}
    .btn.thr{top: 50%; left: 100%;}
    .btn.fou{top: 85.355339%; left: 85.355339%;}
    .btn.fiv{top: 100%; left: 50%;}
    .btn.six{top: 85.355339%; left: 14.644661%;}
    .btn.sev{top: 50%; left: 0;}

    .btn.disable{background-color: @disable;}
}
