@charset "utf-8";
html, body, div, p, hr, pre, h1, h2, h3, h4, h5, h6, table, tr, td, th, tfoot, tbody, thead, form, fieldset, input, textarea, label, ul, ol, dl, li, dt, dd{border: 0; outline: 0; list-style: none;}
header,nav,article,section,aside,footer{display:block;}
img,input,textarea,button{border: 0;}
a{text-decoration: none;}
* {margin: 0; padding: 0;}

@universe: #002240;

body{background-color: @universe; overflow: hidden;}

.perspective{
    -webkit-perspective: 700px;
    perspective:700px;
}
.pers_origin{
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
.trsf_origin{
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.trsf_style_3d{
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.trsf_style_flat{
    -webkit-transform-style: flat;
    -o-transform-style: flat;
    transform-style: flat;
}
.back_face{
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.hide {display: none;}
.fl {float: left;}
.fr {float: right;}
.abs {position: absolute;}
.rel {position: relative;}
.over-hidden {overflow: hidden;}
//舞台，等于窗口大小的元素
#stage{
	.perspective; .pers_origin; .trsf_origin; .rel;
	width: 100vw; height: 100vw; perspective:700px; margin: -25vw 0 0 0;
    &:hover{cursor: move;}
    //银河，包含所有的分类，大小待定
	#galaxy{
		.trsf_style_3d;
		position: absolute; width: 100px; height: 100px; top: 50%; left: 50%;
        margin: -50px 0 0 -50px; color: #fff;

        //坐标系开始
        .axis {
            // .hide;
            .abs;
            width: 300px; height: 1px; top: 50%; left: 50%; margin: 0 0 0 -150px;
            background-color: #fff;
        }
        .axis.y {transform: rotateZ(90deg);}
        .axis.z {transform: rotateY(-90deg);}
        //坐标末端的小三角
        .axis .d {
            .fr; width: 0; height: 0; margin-top: -10px; color: #ff0000;
            border: 10px solid #ff0000; border-top-color: transparent; border-bottom-color: transparent; border-right-width: 0;
        }

        .axis .d.y{
            color: #00ff00;
            border: 10px solid #00ff00; border-top-color: transparent; border-bottom-color: transparent; border-right-width: 0;
        }
        .axis .d.z{
            color: #0000ff;
            border: 10px solid #0000ff; border-top-color: transparent; border-bottom-color: transparent; border-right-width: 0;
        }

        // .plane{
        //     .abs;
        //     width: 1000px; height: 1000px; top: -450px; left: -450px;
        //     background-color: rgba(255, 255, 255, 0.3);
        // }
        // .plane.x{
        //     transform: rotateX(90deg);
        // }
        // .plane.y{
        //     transform: rotateY(90deg);
        // }
        // .plane.z{
        //     transform: rotateZ(90deg);
        // }

        //坐标系结束
        
        //分类
		.star{
            // .back_face; 
            // .over-hidden;
			top: 50%; left: 50%; display: inline-block; position: absolute; padding: 0.3em;
            height: 1em; line-height: 1em; max-width: 5em; text-overflow:ellipsis; white-space:nowrap;
            background-color: fade(lighten(@universe, 50%), 50%);
		}

	}

}
