@charset "utf-8";
*{margin: 0; padding: 0;}
html, body, div, p, hr, pre, h1, h2, h3, h4, h5, h6, table, tr, td, th, tfoot, tbody, thead, form, fieldset, input, textarea, label, ul, ol, dl, li, dt, dd{border: 0; outline: 0; list-style: none;}
header,nav,article,section,aside,footer{display:block;}
img,input,textarea,button{border: 0;}
a{text-decoration: none;}

@universe: #002240;

body{background-color: @universe; overflow: hidden;}

.perspective{
    -webkit-perspective: 700px;
    perspective:700px;
}
.pers_origin{
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
.trsf_origin{
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.trsf_style_3d{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.trsf_style_flat{
    -webkit-transform-style: flat;
    transform-style: flat;
}
.back_face{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

form{display: none;}
.hide {display: none;}
.fl {float: left;}
.fr {float: right;}
.abs {position: absolute;}
.rel {position: relative;}
.over-hidden {overflow: hidden;}
.in-block {display: inline-block;}
.t-center {text-align: center;}
//舞台，等于窗口大小的元素
#stage{
	.perspective; .pers_origin; .trsf_origin; .abs;
	width: 100vw; height: 100vw; top: 50%; margin: -50vw 0 0 0;
    &:hover{cursor: pointer;}

    //银河开始
	#galaxy{
		.trsf_style_3d; .abs;
		width: 100px; height: 100px; top: 50%; left: 50%;
        margin: -50px 0 0 -50px; color: #fff;
        
        //分类
		.star{
            .back_face; .over-hidden; .abs; .t-center;
			top: 50%; left: 50%; padding: 0.2em 0; margin: -0.6em 0 0 -2.1em;
            max-height: 2em; line-height: 1em; width: 4em; text-overflow:ellipsis; white-space:normal;
            &:hover{border: 1px solid #fff;}
		}
        //添加删除等操作
        #operation{
            .abs; .hide; .back_face;
            top: 50%; left: 50%; width: 200px; height: 200px; margin: -100px 0 0 -100px;
            background-color: rgba(94, 226, 209, 0.1); border-radius: 50%;

            .bearing{
                .abs;
                width: 30px; height: 30px; margin: -15px 0 0 -15px;

                .btn{
                    .fl;
                    width: 30px; height: 30px;
                    border-radius: 50%; background-color: rgba(255,255,255,0.6);
                    &:hover{background-color: rgba(62,186,248,0.6);}
                }

                form{
                    .abs; top: 0; width: 150px;
                    input{
                        font-size: 1em;
                    }
                    input[type='text']{
                        .fl;
                        height: 30px; width: 120px; line-height: 30px;
                    }
                    input[type='submit']{
                        .fl;
                        width: 30px; height: 30px;
                        &:hover{background-color: #00b3ee; cursor: pointer;}
                    }
                }
            }

            .bearing.one{
                top: 0; left: 50%;
                form{
                    left: 40px;
                }
            }

            .bearing.two{
                top: 50%; left: 100%;
                form{
                    left: 40px;
                }
            }

            .bearing.three{
                top: 100%; left: 50%;
                form{
                    left: 40px;
                }
            }

        }

	}
    //银河结束

}