<div class="editor-box">
    <h3 class="ctg-title"
        contenteditable="true"
    >{{ctg.ctg.title}}</h3>
    <ckeditor (change)="contentChange()"
              #ckeditor
    ></ckeditor>
    <div class="button-label">
        <div class="share-button">
            <span>share</span>
        </div>
        <div class="copy-button">
            <span>copy</span>
        </div>
        <div class="save-button"
             (click)="saveContent(ckeditor.content)"
        >
            <span>{{'action.save' | translate}}</span>
        </div>
    </div>
</div>