<div class="space-box"
     *ngIf="space"
>
    <div class="space"
         [routerLink]="'/space/' + space.space_id"
    >
        {{space.name}}
    </div>
    <!--<div class="edit-space"-->
        <!--(click)="toggleEdit()"-->
    <!--&gt;</div>-->
</div>
<div class="edit-space-box"
    *ngIf="space && showEditSpace"
>
    <form #spaceForm="ngForm">
        <div class="form-group">
            <input type="text" class="form-control" id="name"
                   placeholder=""
                   required
                   [(ngModel)]="space.name" name="name"
                   #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">
                Name is required
            </div>
        </div>
        <div class="form-group">
            <label for="public">pub</label>
            <input type="radio" value="1" id="public"
                   [(ngModel)]="space.share" name="share"
            >
            <label for="private">pri</label>
            <input type="radio" value="0" id="private"
                   [(ngModel)]="space.share" name="share"
            >
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!spaceForm.form.valid">{{'action.save'}}</button>
    </form>
</div>