<div class="editor-box">
    <h3 class="ctg-title"
        contenteditable="true"
    >{{ctg.ctg.title}}</h3>
    <ckeditor (change)="contentChange()"
              (contentInitial)="contentInitial()"
              #ckeditor
    ></ckeditor>
    <div class="ctg-content-data-list search-space-position"
         *ngIf="showSearchSpace"
    >
        <div class="tier"
             *ngFor="let space of spaceList"
             title="{{'message.link_ctg_to_space-' + ctg.ctg.title + '-' + space.name | translate}}"
             (click)="linkToSpace(space.space_id, space.name)"
        >{{space.name}}
        </div>
    </div>
    <div class="ctg-content-input search-space-position"
         *ngIf="showSearchSpace"
    >
        <input type="text" placeholder=""
               #spaceName
               (keyup.enter)="getSearchSpacesList(spaceName.value)"
        >
    </div>
    <div class="button-label">
        <div class="share-button"
             (click)="searchUser()"
             *ngIf="!showSaveBtn"
        >
            <span>{{'action.share' | translate}}</span>
        </div>
        <div class="copy-button"
             (click)="searchSpace()"
             *ngIf="!showSaveBtn"
        >
            <span>{{'action.link' | translate}}</span>
        </div>
        <div class="save-button"
             (click)="saveContent(ckeditor.content)"
             *ngIf="showSaveBtn"
        >
            <span>{{'action.save' | translate}}</span>
        </div>
    </div>
</div>