<div class="control-panel">
    <div id="plus" class="btn"
         [ngStyle]="setBtnPosition('plus')"
         (click)="clickAddBtn()">
        <img src="assets/plus.svg" alt="">

        <input type="text" placeholder="{{'space.new_space_placeholder' | translate}}"
               class="text-input"
               *ngIf="showAddCtgInput"
               [ngStyle]="spaceInputPosition()"
               #title
               (keyup.enter)="addNewCtg(title.value)">

    </div>
    <div id="view" class="btn"
         [ngStyle]="setBtnPosition('view')"
         (click)="clickViewBtn()">
        <img src="assets/eyes.svg" alt="">
    </div>
    <div id="delete" class="btn"
         [ngStyle]="setBtnPosition('delete')"
         (click)="clickDeleteBtn()">
        <img src="assets/delete.svg" alt="">
    </div>
</div>
<div class="confirm-box"
     *ngIf="showConfirm">
    <p>{{confirmContent | translate}}</p>
    <div class="button-box">
        <button type="button"
                (click)="confirmDelete()"
        >{{'action.yes' | translate}}
        </button>
        <button type="button"
                (click)="cancelDelete()"
        >{{'action.no' | translate}}
        </button>
    </div>
</div>
<ctg-content class="text-box"
             [ngStyle]="setEditorPosition()"
             (ctgChange)="emitCtgListChange()"
             *ngIf="showContentBox"></ctg-content>
