* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 15px;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(29, 97, 140, 0.22);
}
form {
    padding: 0;
}
input {
    border: none;
    width: 8rem;
    height: 1.2rem;
    line-height: 1.2rem;
    background-color: rgb(224, 225, 238);
    text-indent: 0.3rem;
}
a{
    text-decoration: none;
}


