@white: #fff;
@black: #000;


//home
@home: #37B8FC;
@home-font: lighten(@black, 40%);

#yang-home{
    background-color: @home; color: @home-font;

    a{
        color: @home-font;
        &:hover{color: darken(@home-font, 30%);}
    }

    input{
        background-color: lighten(@black, 80%);
    }

    .yang-home-back{
        color: darken(@home, 15%);
    }

    .portrait{
        background-color: @white;
    }

    .panel{
        background-color: @white;
    }

}


//space
@stage_back: #181C3D;
@btn: rgba(255, 255, 255, 0.5);

#yang-space{

    .star-shadow (@shadow_color: #ffffff) {
        box-shadow: inset 0 0 3px @shadow_color, 0 0 2px 1px fade(@shadow_color, 50%);
    }

    .sec-0{.star-shadow(#F5700E)}
    .sec-1{.star-shadow(#0B9EA2)}
    .sec-2{.star-shadow(#AC1F00)}
    .sec-3{.star-shadow(#FDDE3D)}
    .sec-4{.star-shadow(#0E2545)}
    .sec-5{.star-shadow(#42211F)}
    .sec-6{.star-shadow(#D5410F)}
    .sec-7{.star-shadow(#5D1C5D)}
    .sec-8{.star-shadow(#43CB34)}
    .sec-9{.star-shadow(#34CBCB)}

    background: radial-gradient(
            ellipse farthest-corner at 50% 50%,
            lighten(@stage_back, 20%) 0%,
            lighten(@stage_back, 16%) 30%,
            lighten(@stage_back, 10%) 60%,
            lighten(@stage_back, 6%) 90%,
            @stage_back 100%,
    );

    #stage{
        color: #d1e2ff;

        .star{
            &:hover{.star-shadow;}
        }
        .star.ctg{
            background-color: fade(#482755, 20%);
        }
        .star.item{
            background-color: fade(#638AE7, 20%);
        }
    }

    .operation{
        .btn{
            background-color: @btn;
            &:hover{background-color: fadein(@btn, 40%);}
        }
    }

    #top_left{
        background-color: lighten(@black, 50%);
    }

    #top_right{
        background-color: lighten(@black, 50%);
    }

    @pop: #4962D6;
    @pop_content: #4671D5;

    #pop_item{

        border-left: 10px solid @pop; border-right: 20px solid @pop;

        .knob{

        }
        .content{
            background-color: @pop_content; color: darken(@white, 20%);
        }
    }


}
