@white: #fff;
@black: #000;
@blue: #37B8FC;

@btn: fade(@blue, 50%);
@submit: #ccc;

@home: #37B8FC;
@home-font: lighten(@black, 40%);
@home-panel: @white;
@home-space: @white;

@stage_back: #181C3D;

@sec-0: #FA000A;
@sec-1: #00CC00;
@sec-2: #FFA500;
@sec-3: #086FA1;
@sec-4: #FEE500;
@sec-5: #4512AE;
@sec-6: #D8F801;
@sec-7: #8506A8;
@sec-8: #A1EE01;
@sec-9: #CC0174;

@pop: #F0F0F0;

@scroll_bar: #5D6CEA;

@import "theme.less";
