@white: #fff;
@black: #000;


//home
@home: #37B8FC;
@home-font: lighten(@black, 40%);

#yang-home{
    background-color: @home; color: @home-font;

    a{
        color: @home-font;
        &:hover{color: darken(@home-font, 30%);}
    }

    input{
        background-color: lighten(@black, 80%);
    }

    .yang-home-back{
        color: darken(@home, 15%);
    }

    .portrait{
        background-color: @white;
    }

    .panel{
        background-color: @white;
    }

}//#yang-home ends


//space
@stage_back: #181C3D;
@btn: rgba(255, 255, 255, 0.5);

#yang-space{

    .star-glow (@color: #ffffff, @slice: 30%, @repeat: stretch, @width: 4px) {

        border: @width dashed @color;

        -webkit-border-image-source: radial-gradient(fade(@color, 0%) 0%, fade(@color, 20%) 40%, @color, 50%, fade(@color, 20%) 60%, fade(@color, 0%) 100%);
        -webkit-border-image-slice: @slice;
        -webkit-border-image-repeat: @repeat;
        -webkit-border-image-width: @width;
        -moz-border-image-source: radial-gradient(fade(@color, 0%) 0%, fade(@color, 20%) 40%, @color, 50%, fade(@color, 20%) 60%, fade(@color, 0%) 100%);
        -moz-border-image-slice: @slice;
        -moz-border-image-repeat: @repeat;
        -moz-border-image-width: @width;
        -o-border-image-source: radial-gradient(fade(@color, 0%) 0%, fade(@color, 20%) 40%, @color, 50%, fade(@color, 20%) 60%, fade(@color, 0%) 100%);
        -o-border-image-slice: @slice;
        -o-border-image-repeat: @repeat;
        -o-border-image-width: @width;
        border-image-source: radial-gradient(fade(@color, 0%) 0%, fade(@color, 20%) 40%, @color, 50%, fade(@color, 20%) 60%, fade(@color, 0%) 100%);
        border-image-slice: @slice;
        border-image-repeat: @repeat;
        border-image-width: @width;

        background-color: fade(@color, 13%);
    }

    .sec-0{.star-glow(#FA000A)}
    .sec-1{.star-glow(#00CC00)}
    .sec-2{.star-glow(#FFA500)}
    .sec-3{.star-glow(#086FA1)}
    .sec-4{.star-glow(#FEE500)}
    .sec-5{.star-glow(#4512AE)}
    .sec-6{.star-glow(#D8F801)}
    .sec-7{.star-glow(#8506A8)}
    .sec-8{.star-glow(#A1EE01)}
    .sec-9{.star-glow(#CC0174)}

    background: radial-gradient(
            ellipse farthest-corner at 50% 50%,
            lighten(@stage_back, 30%) 0%,
            lighten(@stage_back, 24%) 20%,
            lighten(@stage_back, 18%) 40%,
            lighten(@stage_back, 12%) 60%,
            lighten(@stage_back, 6%) 80%,
            lighten(@stage_back, 2%) 90%,
            @stage_back 100%,
    );

    #stage{
        color: #d1e2ff;

        .star{
            &:hover{.star-glow;}
        }
        .star.ctg{
            background-color: fade(#638AE7, 20%);

        }
        .star.item{

        }
    }//#stage ends

    .operation{
        .btn{
            background-color: @btn;
            &:hover{background-color: fadein(@btn, 40%);}
        }

        .submit{
            background-color: #ccc;
            &:hover{background-color: #00b3ee;}
        }
    }

    #top_left{
        background-color: lighten(@black, 50%);
    }

    #top_right{
        background-color: lighten(@black, 50%);
    }

    @pop: #4962D6;
    @pop_content: #4671D5;

    #pop_item{

        border-left: 10px solid @pop; border-right: 20px solid @pop;

        .knob.close{
            background-color: red;
        }
        .knob.save{
            background-color: blue;
        }
    }//#pop_item ends


}//#yang-space ends
