@import "general.less";

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

form {
    display: none;
}

#stage {
    .perspective;
    .pers_origin;
    .trsf_origin;
    .abs;
    width: 100vw;
    height: 100vw;
    top: 50%;
    margin: -50vw 0 0 0;
    &:hover {
        .cursor-grab;
    }

    .rotate_animation {
        animation-duration: 120s;
        animation-iteration-count: infinite;
        animation-name: rotation;
        animation-play-state: running;
        animation-timing-function: linear;
    }

    #galaxy {
        .trsf_style_3d;
        .abs;
        width: 100px;
        height: 100px;
        top: 50%;
        left: 50%;
        margin: -50px 0 0 -50px;

        //分类
        .star {
            .back_face;
            .abs;
            top: 50%;
            left: 50%;
            padding: 0.2em;
            margin: -0.6em 0 0 -2.1em;
            overflow: hidden;
            line-height: 1em;
            max-width: 4em;
            height: 1em;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover {
                cursor: pointer;
            }
        }

    }
    //galaxy ends

}

//#stage ends

@keyframes rotation {
    0% {
        transform: rotateY(0) rotateX(0deg);
    }
    25% {
        transform: rotateY(180deg) rotateX(30deg);
    }
    50% {
        transform: rotateY(360deg) rotateX(0deg);
    }
    75% {
        transform: rotateY(540deg) rotateX(-30deg);
    }
    100% {
        transform: rotateY(720deg) rotateX(0deg);
    }

}

//@keyframes ends

//操作面板
.operation {

    .abs;
    .hide;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;

    .btn {
        top: 50%;
        left: 50%;
    }

}

//.operation ends

//分类表单
#ctg_form {

    .center;
    .hide;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    margin: -250px 0 0 -560px;

    .btn {
        top: 40px;
        right: 20px;
    }

    .submit {
        bottom: 20px;
        right: 20px;
    }
}

//#ctg_form ends

//内容表单
#item_form {

    .center;
    .hide;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    margin: -250px 0 0 160px;

    #editor {
        width: 100%;
        height: 100%;
    }

    #editor::-webkit-scrollbar {
        width: 10px;
    }

    .btn {
        top: 40px;
        right: 20px;
    }

    .submit {
        bottom: 20px;
        right: 20px;
    }

}

//#item_form ends

//左上角部分
#top_left {
    .abs;
    .circle;
    top: @med_w / 4;
    left: @med_w / 4;
    width: @med_w;
    height: @med_w;
    font-size: 14px;
    color: #fff;
    line-height: @med_w;
    text-align: center;
    overflow: hidden;
    &:hover {
        top: @med_w*-3/4;
        left: @med_w*-3/4;
        width: @med_w*3;
        height: @med_w*3;
    }

    a, div {
        .center;
        .circle;
        &:hover {
            cursor: pointer;
        }
    }

    a.home {
        width: @med_w;
        height: @med_w;
        margin: @med_w*-1/2 0 0 @med_w*-1/2;
        font-size: inherit;
        line-height: @med_w;
        text-align: center;
    }

    a.space {
        margin: @med_w/-2.2 0 0 @med_w/1.1;
    }

    div.reset {
        margin: @med_w/2.8 0 0 @med_w/1.4;
    }
}

//#top_left ends

//右上角用户信息部分
#top_right {
    .abs;
    .circle;
    top: @med_w / 4;
    right: @med_w / 4;
    width: @med_w;
    height: @med_w;
    overflow: hidden;
    font-size: 14px;
    color: #fff;
    line-height: @med_w;
    text-align: center;

    &:hover {
        cursor: pointer;
    }

    img {
        .abs;
        .circle;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

//#top_right ends
#progress {
    .hide;
    .center;
    .circle;
    width: @med_w;
    height: @med_w;
    margin: @med_w/-2 0 0 @med_w/-2;
    overflow: hidden;

}

